:root {
  --main-content: 50rem;
  --gap: 1rem;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-moz-selection { /* Code for Firefox */
  /*color: black;*/
  background: aliceblue;
}

::selection {
  /*color: black;*/
  background: rgba(1,0,255,0.5);
}